<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task manager</title>
</head>
<body>
<h1>Task manager</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.title}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.priority}"></td>
        <td>
            <a th:href="@{/task/edit/{id}(id=${task.id})}">edit</a>
            <a th:href="@{/task/delete/{id}(id=${task.id})}">delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/task/create">create</a>
</body>
</html>